body {
    font-family: Arial, sans-seif;
  } 
  
  h1,
  h2,
  h3,
  h4 {
    font-family: 'Ubuntu', Arial, sans-serif;
    color: #414975!important;
  }
  
  h1,
  h2,
  h3 {
    font-weight: 700!important;
  }
  
  h2 a {
    color: #414975!important;
  }
  
  #fullArticle p, #fullArticle ul, #fullArticle ol, #fullArticle li, #fullArticle div, #fullArticle blockquote, #fullArticle dd, #fullArticle table {
    font-size: 16px;
  }
  
  .navbar-inner .container-fluid {
    max-width:1250px;
  }
  
  .brand {
    width:250px;
  }
  
  .navbar .nav {
    display:none;
  }
  
  #searchBar .search-query {
    background: #fff;
    box-shadow: none;
    border: 2px solid #fff;
    font-size: 20px;
    font-weight: 400;
    box-shadow:none;
  
  }
  
  #searchBar .search-query::-webkit-input-placeholder {
    color: #8c90a3;
    opacity: 1;
    font-weight: 400;
  }
  
  #searchBar .search-query::-moz-placeholder {
    color: #8c90a3;
    opacity: 1;
    font-weight: 400;
  }
  
  #searchBar .search-query:-ms-input-placeholder {
    color: #8c90a3;
    opacity: 1;
    font-weight: 400;
  }
  
  searchBar .search-query:-moz-placeholder {
    color: #8c90a3;
    opacity: 1;
    font-weight: 400;
  }
  
  #searchBar button {
    background-color: #534ce8;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 400;
    text-transform: uppercase;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-shadow: none;
    letter-spacing: 2px;
    outline:0;
  }
  
  #searchBar button:hover {
    background-color: #A19DF1;
  }
  
  #searchBar button:active {
    border: 2px solid #fff;
  }
  
  #docsSearch {
    background-image: linear-gradient(120deg, #38f1c5 0%, #40A7D5 50%);
    border-bottom: none;
    padding: 8em 0 10em 0;
  }
  
  #docsSearch h1 {
    color:#fff!important;
  }
  
  .category-list .category {
    border: none;
    box-shadow: 0 0 7px 0 rgba(160,161,188,.2);
    border-radius: 4px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    background: #fff;
    padding: 135px 50px 40px;
    min-height: 285px;
    margin: 0 30px 30px 0;
    box-sizing: border-box;
  }
  
  .category-list .category:hover {
    box-shadow: 0 0 14px 0 rgba(160,161,188,.3);
    background: #fff;
  }
  
  #contentArea {
    padding: 50px 50px 0 50px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #contentArea .collection-category {
    width: 100%;
    max-width: 1250px;
  }
  
  .collection-category .category-list {
    text-align:center;
  }
  
  .collection-category h2 {
    padding-left: 2.5%;
  }
  
  footer {
    max-width:1250px;
    width: 100%;
  }
  
  .row-fluid {
    max-width:1250px;
  }
  
  #category-41 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_getting_started.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-69 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_power-ups.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-45 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_your_domain.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-39 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_account_management.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-40 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_billing.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-59 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_other.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-77 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_cdn_management.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-9 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_cache_control.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-187 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_routing_strategies.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-88 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_access_control.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-90 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_ddos_and_waf.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  #category-53 {
    background-image: url(https://resources.mlytics.com/hubfs/Help%20center%20icon/help_center_ssl.jpg);
    background-size: 60px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 50px;
  }
  
  @media only screen and (max-width: 719px) /*for CTA section styling*/ {
    #contentArea {
      padding: 50px 10px 0 10px;
    }
  
    .navbar .btn-navbar {
      display: none;
    }
  }

#sidebar h3 {
    display: none;
}